/* Set the background color to black */
body {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    background-color: rgb(34, 34, 34);
    color: white; 
}

@keyframes scroll {
    0% {
        transform: translateX(100%); /* Start offscreen right */
    }
    100% {
        transform: translateX(-100%); /* Scroll to the left */
    }
}

.logos__wrap {
    display: flex;         
    justify-content: center; 
    align-items: center;   
    animation: scroll 20s linear infinite; 
}

.logos__logo {
    margin: 20px;        
}

.logos__image {
    max-width: 100px;       
    height: auto;           
}